<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.debut.ellipsis.freehit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- PERMISSION FOR WRITING TO EXTERNAL SD CARD IN CASE OF CACHE PICTURES -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- THE MANIFEST CODE FOR SPLASH SCREEN -->
        <activity
            android:name=".SplashScreen.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Matches.UpcomingMatches.UpcomingMatchesActivity"
            android:label="Upcoming_Matches" />
        <activity
            android:name=".Matches.PastMatches.PastMatchesActivity"
            android:label="Past_Matches" />
        <activity android:name=".Matches.PastMatches.PastMatchScoreCard" />
        <activity android:name=".Matches.LiveMatches.LiveMatchScoreCard" />
        <activity android:name=".Matches.UpcomingMatches.UpcomingMatchScoreCard" />
        <activity android:name=".IntoSlider.WelcomeActivity"/>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.debut.ellipsis.freehit.MainActivity"/>
        </activity>

        <activity
            android:name=".News.NewsArticle"
            android:label="News ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.debut.ellipsis.freehit.MainActivity"/>
        </activity>



    </application>

</manifest>